<!DOCTYPE html>
<html>
<head>
<title>Movie Summary: %name</title>
</head>
<body>
  <center>
    <h2>Movie Summary</h2>
    <table border="1px solid black">
      <tr>
        <td>Name</td>
        <td>%name</td>
      </tr>
      <tr>
        <td>Genre</td>
        <td>%genre</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>%description</td>
      </tr>
      <tr>
        <td>Release Year</td>
        <td>%releaseYear</td>
      </tr>
      <tr>
        <td>Duration in Minutes</td>
        <td>%durationInMinutes</td>
      </tr>
      <tr>
        <td>Rating</td>
        <td>%rating</td>
      </tr>
      <tr>
        <td>Movie Stars</td>
        <td>%movieStars</td>
      </tr>
    </table>
  </center>
</body>
</html>
