<!DOCTYPE html>
<html>
<head>
<title>Movie Search</title>
</head>
<body>
  <center>
    <h2>Movie Catalog during Corona Crisis 2020</h2>
    <form action="/find">
      <p>
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre" value="%genre">
      </p>
      <p>
        <label for="rating">Rating</label>
        <input type="number" name="rating" id="rating" value="%rating">
      </p>
      <p>
        <label for="movieStars">Movie Stars</label>
        <input type="text" name="movieStars" id="movieStars" value="%movieStars">
      </p>
      <p>
        <input type="submit" value="Find Movie">
      </p>
    </form>
  </center>
  <br>
  <br>
  <center>
    %table
  </center>
</body>
</html>
